body{
background-color: #00001a;
border-radius: 5px;
}

#canvas{
  width: 900px;
  margin: 50px 100px 130px 300px;
  border: 1px solid #FFE4E1;
  background-color: #000B18;
}

p{
  font-size: 20px;
  color: #ffffff;
  font-family: cursive;
  text-align: center;
  margin-top: 50px;
  position: relative;
  bottom: 230px;
}

h1{
  font-size: 50px;
  font-family: cursive;
  color: #ffffff;
  display: flex;
  float: right;
  margin-right: 550px;
}

img{
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  top: 10px;
  left: 20px;
}

#start{
  position: relative;
  bottom: 500px;
  right:20px;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;

}

#pause{
  position:relative;
  bottom: 380px;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;
  right: 110px;
}

#resume{
  position:relative;
  bottom: 310px;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;
  right: 120px;
  float: right;


}

#display{
  font-size: 40px;
  position: relative;
  bottom: 400px;
  font-family: cursive;
  color: #ffffff;
}

#restart{
  position:relative;
  bottom: 200px;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;
  right: 5px;
  float: right;


}
