body{
background-color: #00001a;
border-radius: 5px;
}

#canvas{

  border: 1px solid #FFE4E1;
  background-color: #000B18;
  margin-left: 250px;
}

#score{
  font-size: 40px;
  position: relative;
  bottom: 500px;
  font-family: cursive;
  color: #ffffff;
}

#display{
  font-size: 40px;
  position: relative;
  bottom: 400px;
  font-family: cursive;
  color: #ffffff;
}


p{
  font-size: 20px;
  color: #ffffff;
  font-family: cursive;
  text-align: center;
  margin-top: 50px;
  position: relative;
  bottom: 200px;
}

h1{
  font-size: 50px;
  font-family: cursive;
  color: #ffffff;
  display: flex;
  float: right;
  margin-right: 550px;
}

img{
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  top: 10px;
  left: 20px;
}

#start{
  position: relative;
  bottom: 600px;
  left:50px;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;

}

#pause{
  position:relative;
  bottom: 480px;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;
  left: 1350px;
}

#restart{
  position: relative;
  font-size: 30px;
  font-family: fantasy;
  border: 1px solid black;
  bottom: 300px;
  left: 1250px;

}
