p{
    margin-top: 10px 0 !important;
}

.login-container{
    width:400px;
    margin-top: 50px;
    text-align: center;
    
}

body{
  background-image: url("book.jpeg");
}


.btn-float {
    float: left;
    margin-right: 10px;
  }

  .img-small {
    width: 120px;
  }


